@using GPSMap.Data;
@model GPSMap.Models.SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3" style="display:none">
        @* <div class="treeview-animated mx-4 my-4">*@
        <div id="treeview4" class="treeview"></div>
        @*</div>*@
    </div>
    <div class="col-md-9">
        <div id="data" style="display:none">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Dashboard/Index" onclick="toggleDiv('maindiv');">
                            <img src="~/Images/back.png" alt="" style="width: 25%;" />
                            <h3>Back</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Upload/Index">
                            <img src="~/Images/upload.png" alt="" style="width:25%;">
                            <h3>Upload</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Home/Index">
                            <img src="~/Images/interface.png" alt="" style="width:25%;">
                            <h3>Map</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="parser" style="display:none">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Dashboard/Index" onclick="toggleDiv('maindiv');">
                            <img src="~/Images/back.png" alt="" style="width: 25%;" />
                            <h3>Back</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Home/XMLResult">
                            <img src="~/Images/upload.png" alt="" style="width:25%;">
                            <h3>Parser</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Ericsson/Index">
                            <img src="~/Images/interface.png" alt="" style="width:25%;">
                            <h3>5g Parser</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Reports" style="display:none">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Dashboard/Index" onclick="toggleDiv('maindiv');">
                            <img src="~/Images/back.png" alt="" style="width: 25%;" />
                            <h3>Back</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        @*<a href="~/Home/XMLResult">*@
                        @*<a href="/Dashboard/OpenExe" class="openexe">*@
                        <a href="javascript:void(0);" class="anchorDetail" data-id="123">
                            <img src="~/Images/upload.png" alt="" style="width:25%;">
                            <h3>Report</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Ericsson/Index">
                            <img src="~/Images/interface.png" alt="" style="width:25%;">
                            <h3>Geo</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="maindiv">
            @if (Model.rights.Count() > 0)
            {
                <div class="row">
                    @foreach (var item in Model.rights.Take(4))
                    {
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="javascrip:void(0);" onclick="Navigateme('@item.RightsName')">
                                    <h3>@item.RightsName</h3>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                if (Model.rights.Count() > 4)
                {
                    <div class="row">
                        @foreach (var item in Model.rights.Skip(4).Take(4))
                        {
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="javascrip:void(0);" onclick="Navigateme('@item.RightsName')">
                                        <h3>@item.RightsName</h3>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>


</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Report Parameters</h4>
                </div>
                <hr />
                @using (Html.BeginForm("OpenExe", "Dashboard", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <dl class="dl-horizontal">
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Path
                        </dt>
                        <dd>
                            /PublicFolders/Reports/Dashboard/Cluster daily
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Time From
                        </dt>
                        <dd>
                            <div class="form-group">
                                <div class='input-group date' id='p-from'>
                                    @Html.TextBoxFor(x => x.FromDate, new { placeholder = "Period From", @class = "form-control", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Time To
                        </dt>
                        <dd>
                            <div class="form-group">
                                <div class='input-group date' id='p-to'>
                                    @Html.TextBoxFor(x => x.ToDate, new { placeholder = "Period To", @class = "form-control", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Object
                        </dt>
                        <dd>
                            PLMN
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            file path
                        </dt>
                        <dd>
                            D:/weekly_reports/$[yyyy]_$[mm]_$[dd]_Cluster daily.ttr
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@

                        </dt>
                        <dd>
                            <button id="calculate" class="btn btn-primary btn-sm" type="submit">Calculate</button>
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>
@section css{

    <link href="~/Content/bootstrap-treeview.css" rel="stylesheet" />

}

@section scripts{
    <script src="~/js/bootstrap-treeview.js"></script>
    <script>
        function Navigateme(sectionName) {
            switch (sectionName.toLowerCase()) {
                case "network audit":
                    toggleDiv("data");
                    break;

                case "pm counter":
                    toggleDiv("parser");
                    break;

                case "oss reporting":
                    toggleDiv("Reports");
                    break;

                case "pm data analysis":
                    window.location.href = "/PMDataAnalysis/Explorer";
                    break;

                default:
                    return false;
            }

        }
        function toggleDiv(sectionName) {
            $(".icons").hide();
            $("#maindiv").hide();
            $("#" + sectionName).toggle();
        }



        $(document).ready(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                //$.ajax({
                // type: "GET",
                // url: TeamDetailPostBackURL,
                // contentType: "application/json; charset=utf-8",
                // data: { "Id": id },
                // datatype: "json",
                // success: function (data) {
                // debugger;
                // $('#myModalContent').html(data);
                // $('#myModal').modal(options);
                // $('#myModal').modal('show');

                // },
                // error: function () {
                // alert("Dynamic content load failed.");
                // }
                //});
                $('#myModal').modal(options);
                $('#myModal').modal('show');
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $('#p-from').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#p-to').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            var defaultData = [
                {
                    text: 'Public Directories',
                    href: '#pd',
                    tags: ['10'],
                    nodes: [
                        {
                            text: 'GEO',
                            href: '#geo',
                            tags: ['4'],
                            nodes: [
                                {
                                    text: 'Air Interface',
                                    href: '#interface',
                                    tags: ['0']
                                },
                                {
                                    text: 'Quality of Services',
                                    href: '#services',
                                    tags: ['0']
                                },
                                {
                                    text: 'Single User',
                                    href: '#user',
                                    tags: ['0']
                                },
                                {
                                    text: 'Traffic Density',
                                    href: '#traffic',
                                    tags: ['0']
                                }
                            ]
                        },
                        {
                            text: 'Reports',
                            href: '#reports',
                            tags: ['4'],
                            nodes: [
                                {
                                    text: 'Dashboard',
                                    href: '#dashboard',
                                    tags: ['0']
                                },
                                {
                                    text: 'Level 1 Top Performance Indicators',
                                    href: '#indicators',
                                    tags: ['0']
                                },
                                {
                                    text: 'Level 1 Root Cause Analysis',
                                    href: '#analysis',
                                    tags: ['0']
                                },
                                {
                                    text: 'Level 3 Troubleshooting',
                                    href: '#traffic',
                                    tags: ['0']
                                }
                            ]
                        }
                    ]
                }
            ];

            $('#treeview4').treeview({

                color: "#428bca",
                //data: defaultData
                data: @Html.Raw(ViewBag.TreeViewData)
            });

        });

    </script>
}
