@using GPSMap.Data;
@model GPSMap.Models.ConfigParamModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container col-md-4">

        <ul class="nav nav-tabs" id="tabHeader">
            @*<li class="active"><a data-toggle="tab" href="#geo">Geo</a></li>
                <li><a data-toggle="tab" href="#report">Report</a></li>*@
        </ul>

        <div class="tab-content" id="tabContent">
            @*<div id="geo" class="tab-pane fade in active">
                    <h3>Geo</h3>
                    <p>Geo Tree structure</p>
                </div>
                <div id="report" class="tab-pane fade">
                    <h3>Report</h3>
                    <p>Report Tree structure</p>
                </div>*@
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 70%; height: 90%;">
        <div class="modal-content">
            <div id='myModalContent'>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Report Parameters</h4>
                </div>
                <hr />
                @using (Html.BeginForm("OpenExe", "Tab", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <dl class="dl-horizontal">
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Path
                            @Html.HiddenFor(model => model.Path)
                        </dt>
                        <dd id="ddPath">
                            @*/PublicFolders/Reports/Dashboard/Cluster daily*@
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Time From
                        </dt>
                        <dd>
                            <div class="form-group">
                                <div class='input-group date' id='p-from'>
                                    @Html.TextBoxFor(x => x.FromDate, new { placeholder = "Period From", @class = "form-control", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Time To
                        </dt>
                        <dd>
                            <div class="form-group">
                                <div class='input-group date' id='p-to'>
                                    @Html.TextBoxFor(x => x.ToDate, new { placeholder = "Period To", @class = "form-control", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                        <br />
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Object
                            @Html.HiddenFor(model => model.PLMNObjects)
                        </dt>
                        <dd>
                            <div id="treeviewPLMNObject" class="treeview" style="width: 95%; height: 200px; overflow-x: auto; overflow-y: auto;"></div>
                            @*PLMN*@
                            @*@Html.DisplayFor(model => model.Name)*@
                            @*style="height: 110px; overflow-x: hidden; overflow-y: auto;"*@
                        </dd>
                        <br />
                        @*<dt>
                                //@Html.DisplayNameFor(model => model.Name)
                                file path
                            </dt>
                            <dd>
                                D:/weekly_reports/$[yyyy]_$[mm]_$[dd]_Cluster daily.ttr
                                //@Html.DisplayFor(model => model.Name)
                            </dd>
                            <br />*@
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Name)*@

                        </dt>
                        <dd>
                            <button id="calculate" class="btn btn-primary btn-sm" type="submit">Calculate</button>
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

@section scripts{
    <script src="~/js/bootstrap-treeview.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //debugger;
            var tabHeader = @Html.Raw(ViewBag.TabHeaderHtml);
            var tabContent = @Html.Raw(ViewBag.TabContentHtml);
            var tabNodes = @Html.Raw(ViewBag.TabNodes);

            $('#tabHeader').html(tabHeader);
            $('#tabContent').html(tabContent);

            tabNodes.forEach((element) => {
                //alert(element.text);
                //debugger;
                //alert(element);
                $('#treeview' + element.text.toLowerCase()).treeview({
                    color: "#428bca",
                    onNodeSelected: function (event, data) {
                        if (data.isDirectory == false) {
                            //debugger;
                            //alert(data.path);
                            $('#ddPath').html(data.path);
                            document.getElementById('Path').value = data.path;
                            var options = { "backdrop": "static", keyboard: true };
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        }
                    },
                    //data: @Html.Raw(ViewBag.TreeViewData)
                    //data: element
                    //data: [{ text: 'Public Directories' }, { text: 'child' }]
                    data: JSON.stringify(element.nodes)
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $('#p-from').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#p-to').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#treeviewPLMNObject').treeview({

                color: "#428bca",
                //data: defaultData
                multiSelect: false,
                showCheckbox: true,
                onNodeChecked: function (event, data) { },
                onNodeSelected: function (event, data) { },
                data: @Html.Raw(ViewBag.TreeViewPLMNObjectData)
            });

            $('#calculate').on('click', function () {
                var message = "";

                var fromdate = document.getElementById('FromDate').value;
                if (fromdate == "") {
                    message = "Please select From Date";
                    alert(message);
                    return false;
                }

                var todate = document.getElementById('ToDate').value;
                if (todate == "") {
                    message = "Please select To Date";
                    alert(message);
                    return false;
                }

                var checked = $('#treeviewPLMNObject').treeview('getChecked');
                if (checked.length == 0) {
                    message = "Please select atleast one object for calculation";
                    alert(message);
                    return false;
                }
                else {
                    document.getElementById('PLMNObjects').value = checked.map(x => x.text).join(",");
                }

                return true;
            });

        });
    </script>
}